#container, body {
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;;
}

#canvas {
    width: 800px;
    height: 600px;
    border: solid black 1px;
    box-sizing: border-box;
    position: absolute;
}

.circle {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    user-select: none;
}

.circle:hover {
    cursor: pointer;
    box-shadow: 0px 2px 3px 0px black;
}

.circle.red {
    background-color: red;
}

.circle.blue {
    background-color: blue;
}

.weight {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    z-index: 2;
}

#matrix {
    position: absolute;
    left: 800px;
}

table {
    text-align: center;
}

table td {
    padding: 5px;
}

table tbody tr:first-child td,
table tbody tr td:first-child {
    background-color: #aaaaaa;;
}

button.solve {
    position: absolute;
    top: 600px;
}